<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ site.baseurl }}"><img width="{{ site.logos.desktop_width }}" height="{{ site.logos.desktop_height }}" alt="{{ site.title }}" src="{{ site.logos.desktop | relative_url }}" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ site.baseurl }}"><img width="{{ site.logos.mobile_width }}" height="{{ site.logos.mobile_height }}" alt="{{ site.title }}" src="{{ site.logos.mobile | relative_url }}" /></a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
