---
layout: default
bodyClass: "page-post"
---

<!-- Structured Data: Article -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ page.title }}",
  "description": "{{ page.description | default: page.excerpt | strip_html | truncatewords: 50 }}",
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.date | date_to_xmlschema }}",
  "author": {
    "@type": "Organization",
    "name": "{{ site.title }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.logo | absolute_url }}"
    }
  },
  {% if page.featured_image %}
  "image": "{{ page.featured_image | absolute_url }}",
  {% elsif page.image %}
  "image": "{{ page.image | absolute_url }}",
  {% else %}
  "image": "{{ site.image | absolute_url }}",
  {% endif %}
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  }
}
</script>


<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="post post-single">
        <h1 class="title">{{ page.title }}</h1>
        <div class="content">{{ content }}</div>
      </div>
    </div>
  </div>
</div>
