---
layout: default
bodyClass: "page-post"
---

<!-- Structured Data: Article -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "@id": "{{ page.url | absolute_url }}",
  "headline": "{{ page.title }}",
  "description": "{{ page.description | default: page.excerpt | strip_html | truncatewords: 50 }}",
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  "inLanguage": "pl-PL",
  {% if content contains "©MJP" %}
  "author": {
    "@type": "Person",
    "name": "Michał Jan Patyk"
  },
  "copyrightHolder": {
    "@type": "Person",
    "name": "Michał Jan Patyk"
  },
  {% elsif page.author %}
  "author": {
    "@type": "Person",
    "name": "{{ page.author }}"
  },
  "copyrightHolder": {
    "@type": "Person",
    "name": "{{ page.author }}"
  },
  {% else %}
  "author": {
    "@id": "{{ site.url | append: '/#organization' }}"
  },
  "copyrightHolder": {
    "@id": "{{ site.url | append: '/#organization' }}"
  },
  {% endif %}
  "publisher": {
    "@id": "{{ site.url | append: '/#organization' }}"
  },
  {% if page.featured_image %}
  "image": {
    "@type": "ImageObject",
    "url": "{{ page.featured_image | absolute_url }}"
  },
  {% elsif page.image %}
  "image": {
    "@type": "ImageObject",
    "url": "{{ page.image | absolute_url }}"
  },
  {% else %}
  "image": {
    "@type": "ImageObject",
    "url": "{{ site.image | absolute_url }}"
  },
  {% endif %}
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  }
}
</script>


<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="post post-single">
        <h1 class="title">{{ page.title }}</h1>
        <div class="content">{{ content }}</div>
      </div>
    </div>
  </div>
</div>
